/*
#353531
#626868
#FEFAE0
#29A2CE
#FE9000
*/
.compare-districts-container {
  display: flex;
  flex-wrap: wrap;
  padding: 145px 145px 20px 145px;
  justify-content: center;
  background-color: #626868;
}

.compare {
  margin: 5px;
  border-radius: 5px;
  border: 5px solid #FE9000;
  min-width: 200px;
  background-color: #FEFAE0;
  text-align: center;
}

@media (max-width: 627px) {
  .compare {
    font-size: 12px;
  }
}
