/*
#353531
#626868
#FEFAE0
#29A2CE
#FE9000
*/
.compare-districts-container {
  display: inline-flex;
  padding-top: 145px;
  width: 100%;
  justify-content: center;
}

.compare {
  justify-content: center;
  margin: 5px;
  border-radius: 5px;
  border: 5px solid #353531;
  max-width: 300px;
  min-width: 300px;
  background-color: #FEFAE0;
}

@media (max-width: 1000px) {
  .compare-districts-container {
    display: flex;
    flex-wrap: wrap;
  }

  .compare {
    width: 25%
  }
  }
