body {
  background-color: #333745;
  color: #333745;
}

header, .search-form {
  text-align: center;
}

header {
  font-size: 40px;
  color: #333745;
  width: 100%;
  margin-top: 10px;
}

.search-input {
  margin: 20px 0px;
  border: 2px solid #333745;
  border-radius: 5px;
  padding-left: 8px;
  min-width: 200px;
  height: 25px;
  font-size: 15px;
}

.header-nav {
  position: fixed;
  width: 100%;
  background-color: #eef5db;
}
