/*
#353531
#626868
#FEFAE0
#29A2CE
#FE9000
*/

body {
  background-color: #353531;
  color: #353531;
  padding: 0px 10px;
}

header, .search-form {
  text-align: center;
}

header {
  font-size: 40px;
  color: #353531;
  width: 100%;
  padding-top: 10px;
}

.search-input {
  margin: 20px 0px;
  border: 2px solid #353531;
  border-radius: 5px;
  padding-left: 8px;
  min-width: 200px;
  height: 25px;
  font-size: 15px;
}

.header-nav {
  position: fixed;
  width: 100%;
  background-color: #29A2CE;
}

.header-nav::after {
  content: '.';
  display: table;
  clear: both;
  visibility: hidden;
  height: 0px;
  line-height: 0px;
}
